/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ededed;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   custom styles
   ========================================================================== */
/** Colors
    Green: #80c342
    Dark Grey: #525357
    Mid Grey: #6d6e71
    Light Grey: #e6e6e6
**/
body {background: #FBFCFC;}
a {color: #80c342}
a:hover, a:active {color:#6D6E71}


#warrantyWrapper {
  width: 960px;
  padding: 8px;
  margin: 0 auto;
}


#warrantyWrapper h1,h2,h3,h4,h5 {font-weight: bold;}
/***
Remove margin from bootstrap row
**/
#warrantyWrapper .row {margin-right: 0; margin-left: 0;}



header {
  text-align: center;
  margin:0 auto 45px;
  width: 669px;
}

ul#progressBar {
  list-style: none;
  width: 669px;
  margin: 50px auto;
}
ul#progressBar li {
  float: left;
  margin-right: 50px;
}
ul#progressBar li:last-child {
  margin-right: 0;
}

ul#progressBar li span {
  background: #fff;
  color: #6d6e71;
  font-size: 1.5em;
  font-weight: bold;
  display: block;
  border: 4px solid #525357;
  border-radius: 50%;
  width: 100px;
  height:100px;
  margin: 15px auto;
  line-height: 90px;
  white-space: nowrap;
}

ul#progressBar li span.active {
  background: #80c342;
  border-color: #80c342;
  color:#FFF;
}

ul#progressBar li span.completed {
  background: #e6e6e6;
    border: none;
    color: #cccccc;
    width: 90px;
    height: 90px;
    line-height: 89px;
    margin-bottom: 26px;
}

.gray-bar
{
        position: relative;
}

.gray-bar:after
{
  content: "";
  background-color: #525357;
  position: absolute;
  width: 450px;
  left: 119px;
  top: 61px;
  bottom: 10px;
  z-index: -1;
  height: 4px;
}


/***** Form Nav styling ****/
.btn-info, .form-navigation input[type="submit"] {
  background: #6d6e71;
  border: 1px solid #545559;
  border-radius: 30px;
  color: #FFF;
  float: right;
  width: 120px;
  padding:14px 30px;
}

.btn-info:hover,.btn-info:active {
  background-color:#e6e6e6;
  border-color:#545559;
  color:#545559;
}

.btn span {
  width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid #fff;
}

.previous {float: left;}


/*** Form styling ****/
#warrantyRegForm, p.addMore a {
  color:#6D6E71;
}

#warrantyRegForm legend {
  width: 1px;
  height: 1px;
  overflow: hidden;
}

#warrantyRegForm p {
  font-size: 1em;
  width: 422px;
  margin-right: 20px;
  float: left;
}

/*** Shorter fields ***/
#warrantyRegForm .form-section p.stateSelect {
  width: 232px;
}
 #warrantyRegForm .form-section p.zipField {
  width: 172px;
}

 #warrantyRegForm .form-section p.sameAddress {
   width: 100%;
 }

#warrantyRegForm .form-section .purchaseDate input {
  width: 82px;
}

#warrantyRegForm .form-section p.modelNumField {
  width: 260px
}

#warrantyRegForm .form-section p.quantityField {
  width: 140px
}



/**setup show/hide for multistep with parsley validation ***/
.form-section {display: none;}
.form-section.current {display: inherit;}

#personalInfo, #installPurchaseInfo, .additionalLocations .locInfo{
  background: #e6e6e6;
  border-radius: 10px;
  padding: 30px;
  margin-bottom: 20px;
}



#warrantyRegForm .form-section input, #warrantyRegForm select {
  border-radius: 30px;
  border:2px solid #dedede;
  width: 100%;
  padding: 10px 25px;
  font-size: 14px;
}
#warrantyRegForm input:focus,
#warrantyRegForm select:focus {
  border-color: #80c342;
  outline: none !important;
}

/*** custom checkboxes ***/
/* Base for label styling */
#warrantyRegForm input[type="checkbox"]:not(:checked),
#warrantyRegForm input[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
#warrantyRegForm input[type="checkbox"]:not(:checked) + label,
#warrantyRegForm input[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 1.95em;
  cursor: pointer;
}

/* checkbox aspect */
#warrantyRegForm input[type="checkbox"]:not(:checked) + label:before,
#warrantyRegForm input[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0; top: 0;
  width: 1.25em; height: 1.25em;
  border: 2px solid #ccc;
  background: #fff;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
}
/* checked mark aspect */
#warrantyRegForm input[type="checkbox"]:not(:checked) + label:after,
#warrantyRegForm input[type="checkbox"]:checked + label:after {
  content: '✔';
  position: absolute;
  top: .1em; left: .3em;
  font-size: 1.3em;
  line-height: 0.8;
  color: #80c342;
  transition: all .2s;
}
/* checked mark aspect changes */
#warrantyRegForm input[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
#warrantyRegForm input[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
#warrantyRegForm input[type="checkbox"]:disabled:not(:checked) + label:before,
#warrantyRegForm input[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
#warrantyRegForm input[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
#warrantyRegForm input[type="checkbox"]:disabled + label {
  color: #aaa;
}
/* accessibility */
#warrantyRegForm input[type="checkbox"]:checked:focus + label:before,
#warrantyRegForm input[type="checkbox"]:not(:checked):focus + label:before {
  border: 1px solid #80c342;
}

/* hover style just for information */
label:hover:before {
  border: 2px solid #80c342!important;
}

/*** End custom checkbox styling **/


/*** INFO REVIEW SECTION STYLING ****/
#installInfoReview {
  background: #e6e6e6;
  border-radius: 10px;
  margin-bottom: 12px;
}

#installInfoReview header {
  width: 100%;
  background: #6e6d71;
  color: #FFF;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.editDetBtn {
  background: #4d4d4d;
  border-top-right-radius: 10px;
  padding: 12px;
}
#installInfoReview h3{font-size:14px; color: #FFF; text-align: left;padding-top: 15px}
#installInfoReview a {color: #fff; font-size: 12px;}
#installInfoReview a:hover, #installInfoReview a:active {text-decoration: none;color: #eee;}
#installInfoReview h4,
#installInfoReview p,
.reviewQuantNum,
.reviewProdNum
{font-size:12px;}

.reviewProdNum {width: 108px;}

.infoReviewOne, .infoReviewTwo, .infoReviewThree{
  float: left;
  border-right: 1px solid #FBFCFC;
  margin: 8px 0;
  padding: 12px 30px;
}

.infoReviewOne{width:276px; }
.infoReviewTwo{width:298px; }
.infoReviewThree{width:300px; border: none;}
/**** END INFO REVIEW ****/






/*** custom style for add more ***/

p.addMore a:hover,p.addMore a:active {
  color:#525357;
  text-decoration: none;
}


p.addMore a span {
  background: #fff;
  border: 1px solid #6D6E71;
  display: inline-block;
  line-height: 15px;
  text-align: center;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}
#addInstallLoc {
  display: block;
  margin: 0 0 20px 30px;
}


/*** SUCCESS STYLING  ****/
#success-section h1 {
  color: #80c342;
  font-size: 42px;
  text-align: center;
  margin: 150px 0 40px;
}
#success-section p {
  font-size:24px;
  width: 100%;
  text-align: center;
  line-height: 1.5;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
